@import "tailwindcss";

@layer base {
  /* Set defaults for the whole page */
  body {
    @apply bg-gray-50 text-gray-900 antialiased;
  }
  
  /* Dark mode defaults */
  @media (prefers-color-scheme: dark) {
    body {
      @apply bg-stone-900 text-stone-100;
    }
  }
}
